!!!
!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "es"}
  / <![endif]
  %head
    %title .: OpenShop - Comprar nunca fue tan fácil :.
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %meta{:charset => "utf-8"}
    %meta{:content => "Openshop sitio de ventas on line para colombia", :name => "description"}
    %meta{:content => "Tomás Herrera - Hernán Orozco", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", :media => "all"
    = csrf_meta_tags
  %body{:onLoad => "initialize('mapWrapperFullwidth')"}
    %header#mainHeader.clearix
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            .brand
              OpenShop
            %nav#mainMenu.clearfix
              %ul.pull-right
                %li
                  = link_to "Iniciar Sesión", "#loginWindow", "data-toggle" => "modal", :role => "button"
      - if flash[:notice]
        .alert.alert-success{:style => "margin-bottom: 0px;"}
          %button.close{"data-dismiss" => "alert", :type => "button"} x
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-error{:style => "margin-bottom: 0px;"}
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:alert]
    = yield
/login modal
#loginWindow.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => "width: 300px; margin-left: -150px"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Iniciar Sesión
  .modal-body
    = link_to root_path, :class => "btn btn-primary btn-block" do
      %i.icon-facebook
      Facebook
    = link_to root_path, :class => "btn btn-info btn-block" do
      %i.icon-twitter
      Twitter
    = link_to root_path, :class => "btn btn-danger btn-block" do
      %i.icon-gplus
      Google Plus
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cerrar
%script{:src => "assets/custom.js"}
